body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1cm;
    text-align: center;
    align-items: center;
}

button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.6cm;
    width: 1.1cm;
    height: 1.1cm;
}

input{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.75cm;
    width: 2cm;
}
#a{
    width: 20cm;
    height: 5cm;
    display: flex;  
}

#inp{
    width: 15cm;
    height: 1cm;
}

#op{
    width: 5cm;
    height: 1cm;
}

#input{
    width: 15cm;
    height: 5cm;
    margin:0 auto;
}

#inp{
    height: 250px;
    width: 200px;
    
}

#op{
    height: 250px;
    width: 200px;
}

#a{
    height: 250px;
    width: 400px;
    align-self: center;
    margin:0 auto;
}